:root
{
	--clr-background: #090915;

	--clr-accent: hsl(270, 100%, 61%);
	--clr-ligher-accent: color-mix(in srgb, var(--clr-accent), hsl(0, 0%, 100%) 30%);

	--clr-white-transparent-5: hsla(0, 0%, 100%, 0.05);
	--clr-white-transparent-10: hsla(0, 0%, 100%, 0.1);
	--clr-white-transparent-15: hsla(0, 0%, 100%, 0.15);
	--clr-white-transparent-25: hsla(0, 0%, 100%, 0.25);
	--clr-white-transparent-35: hsla(0, 0%, 100%, 0.35);
	--clr-white-transparent-50: hsla(0, 0%, 100%, 0.50);
	--clr-white-transparent-75: hsla(0, 0%, 100%, 0.75);
	--clr-white-transparent-85: hsla(0, 0%, 100%, 0.85);

	--clr-black-transparent-5: hsla(0, 0%, 0%, 0.05);
	--clr-black-transparent-10: hsla(0, 0%, 0%, 0.1);
	--clr-black-transparent-15: hsla(0, 0%, 0%, 0.15);
	--clr-black-transparent-25: hsla(0, 0%, 0%, 0.25);
	--clr-black-transparent-35: hsla(0, 0%, 0%, 0.35);
	--clr-black-transparent-50: hsla(0, 0%, 0%, 0.50);
	--clr-black-transparent-75: hsla(0, 0%, 0%, 0.75);
	--clr-black-transparent-85: hsla(0, 0%, 0%, 0.75);
}

@font-face
{
	font-family: Montserrat;
	src: url("./assets/Montserrat-VariableFont_wght.ttf");
}

*, *::before, *::after, *::-webkit-slider-thumb
{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1);
	position: relative;
	box-sizing: border-box;
	font-family: Montserrat, system-ui;
	color: var(--clr-white-transparent-85);
}

button { border: none; }
img { pointer-events: none; }
html { background: #0000; overflow: clip; }

body
{
	width: 400px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #0000;
	overflow: clip;
}

.main-gradient
{
	position: absolute;
	inset: 0;
	/* background: linear-gradient(to top, var(--clr-accent), var(--clr-background)); */
	background: radial-gradient(ellipse at bottom, var(--clr-accent), var(--clr-background));
	opacity: 0.5;
}

.noise
{
	position: absolute;
	inset: 0;
	background: url('./assets/noise.png');
	background-size: cover;
	mix-blend-mode: overlay;
	mask-image: radial-gradient(ellipse at bottom, white, transparent);
	opacity: 0.3;
}

/* BUTTONS */
.btn
{
	width: fit-content;
	height: 1.75rem;
	margin: 0;
	padding: 0 0.75rem;
	border-radius: 0.7rem;
	background: transparent;
	transition: all 0.4s;
	will-change: transform;
	cursor: pointer;
}

.btn-square { width: 1.75rem; padding: 0; }

.btn *
{
	width: fit-content;
	height: fit-content;
	max-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 500;
	opacity: 0.75;
	transition: all 0.4s;
	will-change: transform;
}

.btn img
{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transform: scale(0.8);
	object-fit: contain;
}

.btn:hover
{
	background: var(--clr-white-transparent-25);
	transform: scale(1.1);
}

.btn:active
{
	background: var(--clr-white-transparent-10);
	transform: scale(0.7);
	transition: all 0.4s, transform 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.btn:hover * { opacity: 1; }
.btn:active * { opacity: 0.5; }
/* BUTTONS END */

.page-header-right-aligned-btn { margin-left: auto; }

/* CHECKBOX */
.checkbox
{
	appearance: none;
	width: 1.25rem;
	height: 1.25rem;
	margin: 0;
	padding: 0;
	outline: 2px solid var(--clr-white-transparent-25);
	outline-offset: 2px;
	border-radius: 0.35rem;
	background: transparent;
	transition: all 0.2s, transform 0.4s, background 0.4s;
	will-change: transform;
	cursor: pointer;
}

.checkbox:checked
{
	background: var(--clr-white-transparent-50);
}

.checkbox:hover
{
	outline: 2px solid var(--clr-white-transparent-50);
	transform: scale(1.2);
}

.checkbox:active
{
	background: var(--clr-white-transparent-25);
	outline: 2px solid var(--clr-white-transparent-10);
	transition: all 0.2s, transform 1s cubic-bezier(0, 0.55, 0.45, 1), background 0.4s;
	transform: scale(0.8);
}
/* CHECKBOX END */

/* SLIDER BAR */
.slider-bar
{
	position: relative;
	display: block;
	width: 10px;
	height: 6rem;
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

.slider-bar-back
{
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	background: var(--clr-white-transparent-25);
	backdrop-filter: blur(50px);
	border-radius: inherit;
	cursor: pointer;
}

.slider-bar-front
{
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	writing-mode: vertical-lr;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background: transparent;
	border-radius: inherit;
	overflow: clip;
	cursor: pointer;
}

.slider-bar-front::-webkit-slider-runnable-track
{
	height: 100%;
	border-radius: inherit;
}

.slider-bar-front::-webkit-slider-thumb
{
	pointer-events: all;
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: white;
	opacity: 0.75;
	border-radius: 5px;
	box-shadow: 0 calc(6.5rem + 4px) 0 6.5rem white;
}

.slider-bar-handle-visual
{
	pointer-events: none;
	position: absolute;
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	border-radius: inherit;
	background: white;
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.83, 0, 0.17, 1), inset 0s, transform 0.3s, opacity 0.2s;
	cursor: pointer;
}

.slider-bar:hover .slider-bar-front::-webkit-slider-thumb { opacity: 1; }

.slider-bar:hover .slider-bar-handle-visual
{
	opacity: 1;
	transform: scale(1.5);
	box-shadow: 0 0 14px 0 var(--clr-black-transparent-85);
}
/* SLIDER BAR END */

.separator
{
	width: 2px;
	height: calc(100% - 1.5rem);
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.1);
}

.content-container
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2.5rem 1rem 1rem 1rem;
}

.draggable-zone
{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 210px);
	height: 40px;
	margin: 0;
	padding: 0;
	z-index: 10000;
}

.top-text-app-name
{
	position: absolute;
	top: 0;
	left: 1rem;
	width: fit-content;
	height: 40px;
	margin: 0;
	padding: 0;
	color: var(--clr-white-transparent-10);
	font-size: 75%;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 1px;
}

.top-buttons
{
	position: absolute;
	top: 0;
	right: 5px;
	width: fit-content;
	height: 40px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0.75rem;
	z-index: 10000;
}

.app-buttons
{
	width: fit-content;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0.25rem;
}

.app-button { width: 40px; }
.btn-close:hover { background: rgba(255, 0, 0, 0.75); }
.btn-close:active { background: rgba(255, 0, 0, 0.5); }

.track-name-container
{
	width: 400px;
	height: 1.5rem;
	margin: 0.5rem 0 0.5rem -1rem;
	padding: 0;
	mask-image: linear-gradient(to right, transparent, white 5%, white 95%, transparent);
	overflow: visible;
}

.track-name
{
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: var(--clr-white-transparent-85);
	text-wrap: nowrap;
	white-space: pre;
	overflow: visible;
	transition: all 0.2s, transform 0s;
	transform: translateX(1rem);
	animation: scroll-track-name-animation var(--animationLoopTime) infinite;
	animation-timing-function: cubic-bezier(0.3, 0, 0.7, 0.7);
}

.track-name:hover { animation-play-state: paused !important; }

@keyframes scroll-track-name-animation
{
	0% { transform: translateX(1rem); }
	100% { transform: translateX(calc(-50% - 37.4px + 1rem)); } /* 37.4px is half-width of 15 spaces with current font parameters */
}

.page-header
{
	width: 100%;
	height: fit-content;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0.5rem;
}

.page-name
{
	width: fit-content;
	max-width: calc(100% - 3.25rem);
	height: fit-content;
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	line-height: 1.1rem;
	font-weight: 700;
	color: var(--clr-white-transparent-85);
}

.page-main { z-index: 0; }

.page-settings, .page-equalizer, .page-playlist
{
	padding-bottom: 0;
	opacity: 0;
	transform: scale(1.1);
	margin-top: -200px;
	pointer-events: none;
	z-index: -1;
}

.page-scroll-container
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1rem 0.5rem 1rem 2.25rem;
	overflow: clip overlay;
	mask-image:
		linear-gradient(to top, white 85%, transparent),
		linear-gradient(to left, white 7px, transparent 8px);
}

/* Scrollbar */
.page-scroll-container::-webkit-scrollbar { width: 7px; }
.page-scroll-container::-webkit-scrollbar-track { background: transparent; }
.page-scroll-container::-webkit-scrollbar-thumb { background: var(--clr-black-transparent-35); border-radius: 3.5px; }
.page-scroll-container::-webkit-scrollbar-thumb:hover { background: var(--clr-black-transparent-50); }
.page-scroll-container::-webkit-scrollbar-button:end:increment { height: 1rem; }

.page-settings, .page-playlist
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.page-settings .page-scroll-container { padding-left: 2rem; }

.settings-param-container
{
	width: 100%;
	height: fit-content;
	margin: 0 0 0.25rem 0;
	padding: 10px;
	background: var(--clr-black-transparent-25);
	border-radius: 14px;
	backdrop-filter: blur(50px);
}

.settings-param-container .btn { border-radius: 0.35rem; }

.settings-param-name
{
	width: fit-content;
	height: fit-content;
	margin: 0 0 0.75rem 0;
	padding: 0;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--clr-white-transparent-50);
}

.settings-fitsecondflexcontainer
{
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.settings-fitsecondflexcontainer .settings-param-name
{
	width: 100%;
	margin: 0;
	text-wrap: pretty;
}

.settings-fitsecondflexcontainer *:nth-child(2) { flex-shrink: 0; }
.settings-fitsecondflexcontainer .checkbox { align-self: flex-start; }

.settings-rowcontainer
{
	width: fit-content;
	height: fit-content;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.settings-fullwidthcontainer
{
	width: 100%;
	flex-wrap: wrap;
}

.settings-param-color
{
	width: 1.25rem;
	height: 1.25rem;
	margin: 0;
	padding: 0;
	outline: 0px solid transparent;
	border-radius: 0.35rem;
	transition: all 0.2s, transform 0.4s;
	cursor: pointer;
	box-shadow: 0 2px 16px 0 var(--clr-black-transparent-25);
}

.settings-param-color:hover
{
	outline: 3px solid var(--clr-white-transparent-50);
	transform: scale(1.2);
}

.settings-param-color:active
{
	outline: 2px solid var(--clr-white-transparent-25);
	transform: scale(0.8);
	transition: all 0.2s, transform 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.equalizer-bars
{
	width: fit-content;
	height: fit-content;
	margin: 1rem 0 0 2.25rem;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1.5rem;
}

.equalizer-bar-front::-webkit-slider-thumb
{
	width: 10px;
	height: 10px;
	box-shadow: 0 calc(6.5rem + 4px) 0 6.5rem white;
}

.equalizer-default-values-dots
{
	position: absolute;
	top: 131px;
	left: 36px;
	width: fit-content;
	height: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 26px;
	pointer-events: none;
}

.equalizer-default-values-dot
{
	width: 8px;
	height: 2px;
	background: var(--clr-white-transparent-25);
	border-radius: 2px;
	pointer-events: none;
}

.equalizer-bar-texts
{
	position: absolute;
	top: 70px;
	left: 52px;
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0;
	pointer-events: none;
}

.equalizer-bar-text
{
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	color: var(--clr-white-transparent-50);
	font-size: 0.5rem;
	pointer-events: none;
}

.equalizer-bar-text:nth-child(1) { margin-right: 23px; }
.equalizer-bar-text:nth-child(2) { margin-right: 21px; }
.equalizer-bar-text:nth-child(3) { margin-right: 20px; }
.equalizer-bar-text:nth-child(4) { margin-right: 21px; }
.equalizer-bar-text:nth-child(5) { margin-right: 25px; }
.equalizer-bar-text:nth-child(6) { margin-right: 23px; }
.equalizer-bar-text:nth-child(7) { margin-right: 24px; }
.equalizer-bar-text:nth-child(8) { margin-right: 21px; }
.equalizer-bar-text:nth-child(9) { margin-right: 21px; }

.playlist-track
{
	width: 100%;
	height: 2rem;
	margin: 0 0 6px 0;
	border-radius: 0.7rem;
	background: var(--clr-black-transparent-15);
	outline: 1px solid var(--clr-white-transparent-10);
	transition: all 0.2s cubic-bezier(0.83, 0, 0.17, 1), background 0.2s, outline 0.2s;
}

.playlist-track:not(:nth-child(1 of .playlist-track-unplayed)):not(:has(.playlist-track-move-arrows img:hover)):not(:has(.btn:hover)):hover
{
	background: var(--clr-black-transparent-50);
	outline: 1px solid var(--clr-black-transparent-50);
	cursor: pointer;
}

.playlist-track:not(:nth-child(1 of .playlist-track-unplayed)):not(:has(.playlist-track-move-arrows img:active)):not(:has(.btn:active)):active
{
	background: var(--clr-ligher-accent);
	outline: 1px solid var(--clr-ligher-accent);
}

.playlist-track-played
{
	background: var(--clr-black-transparent-5);
	outline: 1px solid var(--clr-white-transparent-10);
}

:nth-last-child(1 of .playlist-track-played) .playlist-track-move-arrows img { display: none; }
.playlist-track-played .playlist-track-name { opacity: 0.5; }

:nth-child(1 of .playlist-track-unplayed)
{
	background: var(--clr-black-transparent-35);
	outline: 1px solid var(--clr-ligher-accent);
}

:nth-child(1 of .playlist-track-unplayed) .playlist-track-move-arrows img { display: none; }
:nth-child(2 of .playlist-track-unplayed) .playlist-track-move-arrows img:nth-child(1) { display: none; }

.playlist-track:first-child .playlist-track-move-arrows img:nth-child(1) { display: none; }
.playlist-track:last-child .playlist-track-move-arrows img:nth-child(2) { display: none; }

.playlist-track-move-arrows
{
	position: absolute;
	top: 2px;
	left: 0.25rem;
	width: 1.75rem;
	height: 1.75rem;
	margin: 0;
	padding: 0;
}

.playlist-track-move-arrows img
{
	position: absolute;
	inset: 1px 0 auto 0;
	width: 100%;
	height: 10px;
	margin: 0;
	padding: 0;
	opacity: 0.5;
	object-fit: contain;
	pointer-events: all;
	cursor: pointer;
	transition: all 0.2s, transform 0.4s;
	will-change: transform;
}

.playlist-track-move-arrows img:nth-child(2)
{
	inset: auto 0 1px 0;
	transform: rotateZ(180deg);
}

.playlist-track-move-arrows img:hover
{
	opacity: 0.75;
	transform: scale(1.2);
}

.playlist-track-move-arrows img:active
{
	opacity: 0.25;
	transform: scale(0.8);
	transition: all 0.2s, transform 1s cubic-bezier(0, 0.55, 0.45, 1);
}

.playlist-track-move-arrows img:nth-child(2):hover { transform: rotateZ(180deg) scale(1.2); }
.playlist-track-move-arrows img:nth-child(2):active { transform: rotateZ(180deg) scale(0.8); }

.playlist-track-name-container
{
	position: absolute;
	top: 0;
	left: 2.25rem;
	width: 260px;
	height: 100%;
	margin: 0;
	padding: 0 0 0 0.5rem;
	transform: translateX(-0.5rem);
	mask-image: linear-gradient(to right, transparent, white 0.5rem, white 95%, transparent);
}

.playlist-track-name
{
	width: fit-content;
	height: 100%;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	font-size: 0.85rem;
	opacity: 0.75;
	white-space: pre;
	animation-play-state: paused;
}

.playlist-track-name-container:hover .playlist-track-name
{
	animation: scroll-playlist-track-name-animation var(--animationLoopTime) linear infinite;
	animation-play-state: running !important;
}

@keyframes scroll-playlist-track-name-animation
{
	0% { transform: translateX(0%); }
	100% { transform: translateX(calc(-50% - 26.7px)); } /* 26.7px is half-width of 15 spaces with current font parameters */
}

.playlist-track .btn
{
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 10px;
	transform: scale(0.9);
}

.playlist-track .btn:hover
{
	background: rgba(255, 0, 0, 0.75);
	transform: scale(1.05);
}

.playlist-track .btn:active
{
	background: rgba(255, 0, 0, 0.5);
	transform: scale(0.7);
}

#shuffleBtn, #repeatBtn, #volumeSlider
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 1.85rem;
	height: 1.85rem;
}

#shuffleBtn.shuffleBtn-checked, #repeatBtn.repeatBtn-checked
{
	background: var(--clr-black-transparent-35);
	outline: 1px solid var(--clr-ligher-accent);
}

#shuffleBtn { left: -3rem; }
#repeatBtn { right: -3rem; }

#shuffleBtn img, #repeatBtn img, #volumeSlider img { opacity: 0.35; transform: scale(0.95); }
#shuffleBtn.shuffleBtn-checked img, #repeatBtn.repeatBtn-checked img { opacity: 0; }

#repeatBtn.repeatBtn-checked img:nth-of-type(2) { opacity: 0.85; }
#repeatBtn img:nth-of-type(2), #repeatBtn.repeatBtn-checked-2 img:nth-of-type(2) { opacity: 0; }

#shuffleBtn div, #repeatBtn div
{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transform: scale(0.8);
	object-fit: contain;
	background: color-mix(in srgb, var(--clr-accent), hsl(0, 0%, 100%) 100%);
	opacity: 0;
	mask-size: contain;
	pointer-events: none;
}

#shuffleBtn div { mask-image: url('./assets/shuffle.png'); }
#repeatBtn div { mask-image: url('./assets/repeat.png'); }

#shuffleBtn.shuffleBtn-checked div, #repeatBtn.repeatBtn-checked div
{
	background: color-mix(in srgb, var(--clr-accent), hsl(0, 0%, 100%) 30%);
	opacity: 0.85;
}

#volumeSlider
{
	right: -6rem;
	bottom: 9px;
	margin: 0;
	padding: 0;
	border-radius: 0.7rem;
	background: transparent;
	transition: all 0.4s;
}

#volumeSlider img
{
	position: absolute;
	inset: 0;
	top: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	object-fit: contain;
	transition: all 0.4s;
}

#volumeSlider:hover
{
	height: 7rem;
	bottom: 9px;
	background: color-mix(in srgb, var(--clr-white-transparent-15), var(--clr-accent) 20%);
	border-radius: 15px;
}

#volumeSlider:hover img { opacity: 0; transform: scale(0.5); }
#volumeSlider:hover .slider-bar { opacity: 1; }

#volumeSlider .slider-bar
{
	position: absolute;
	inset: 10px auto 10px 50%;
	height: auto;
	transform: translateX(-50%);
	opacity: 0;
}

.track-controls
{
	position: absolute;
	right: calc(50% - 175px / 2);
	bottom: 2.5rem;
	left: auto;
	width: 175px;
	height: fit-content;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.track-controls-skip-back, .track-controls-skip-forward
{
	width: 2.25rem;
	height: 2.25rem;
}

.track-controls-pause
{
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
}

.time-texts
{
	position: absolute;
	bottom: 1rem;
	width: 100%;
	height: 1rem;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	pointer-events: none;
}

.time-texts *
{
	font-size: 90%;
	font-weight: 600;
	opacity: 0.6;
}

.track-timeline
{
	position: absolute;
	inset: 1rem;
	top: unset;
	width: unset;
	height: 0.65rem;
}

.track-timeline-front { writing-mode: unset; }

.track-timeline-front::-webkit-slider-thumb
{
	width: 0.65rem;
	height: 0.65rem;
	box-shadow: -405px 0 0 400px white;
}

#music, #music-select { display: none; }